/.idea/
/MachineLearningNN/analyzeRabbitML/datasets/dataNoRabbits.txt
/MachineLearningNN/analyzeRabbitML/datasets/dataRabbits.txt
/MachineLearningNN/analyzeRabbitML/datasets/dataTestNoRabbit.txt
/MachineLearningNN/analyzeRabbitML/datasets/dataTestRabbits.txt
